<div class="header">
  <div class="header__logo">
    <a routerLink="/">Pokémon TCG Shop</a>
  </div>
  <nav class="header__nav">
    <a class="header__nav-link" routerLink="/" routerLinkActive="active">Productos</a>
    <a class="header__nav-link" routerLink="/inventario" routerLinkActive="active">Inventario</a>
    <a class="header__nav-link" routerLink="/carrito" routerLinkActive="active">Carrito</a>
    <a class="header__nav-link" (click)="cerrarSesion()" style="cursor: pointer;">Cerrar Sesión</a>
  </nav>
</div>