body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

h1, h2, h3 {
    color: #2c3e50;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Clave 1: El contenedor ocupa al menos toda la altura de la pantalla */
}

.main-content {
flex-grow: 1; /* Clave 2: El contenido principal se expande para ocupar todo el espacio sobrante */
}