<footer class="footer">
  <div class="footer__content">
    <div class="footer__info">
      <h3>Pokémon TCG Shop</h3>
      <p>&copy; 2023 Pokémon TCG Shop. All rights reserved.</p>
    </div>
    <div class="footer__links">
      <h4>Enlaces útiles</h4>
      <ul>
        <li><a routerLink="/about">Sobre nosotros</a></li>
        <li><a routerLink="/contact">Contacto</a></li>
        <li><a routerLink="/privacy">Política de privacidad</a></li>
        <li><a routerLink="/terms">Términos de servicio</a></li>
      </ul>
    </div>
    <div class="footer__social">
      <h4>Síguenos</h4>
      <div class="social-icons">
        <a href="https://facebook.com" target="_blank" aria-label="Facebook">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://instagram.com" target="_blank" aria-label="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://twitter.com" target="_blank" aria-label="Twitter">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>
  </div>
</footer>